# The port on the host that will be mapped to the the Docker container's listen port.
LD_HOST_PORT=9090

# Local - relative path persist Linkding's data storage to.
# Infra - skip this, refer to docs/INFRA.md
LD_HOST_DATA_DIR=./storage

# App user login credentials.
# Use different values for each environment.
LD_SUPERUSER_NAME=aaa
LD_SUPERUSER_PASSWORD=bbb,ccc.333

# Optional app settings, more info at https://linkding.link/options/
LD_DISABLE_LOGIN_FORM=False
LD_DISABLE_BACKGROUND_TASKS=False
LD_DISABLE_URL_VALIDATION=False
LD_ENABLE_AUTH_PROXY=False
