#
# App
#

APP_USER_EMAIL=
APP_USER_NAME=
APP_USER_PASSWORD=

# For each environment, generate new values for these by
# running 'openssl rand -base64 36' in your local terminal.
NEXTAUTH_SECRET=
MEILI_MASTER_KEY=

# Local - http://localhost:<KARAKEEP_PORT>
# Infra - refer to 'docs/INFRA.md'
NEXTAUTH_URL=http://localhost:3333

#
# AI
#

OPENAI_API_KEY=
INFERENCE_TEXT_MODEL=gpt-4.1-mini
INFERENCE_IMAGE_MODEL=gpt-4o-mini

# To use Google AI Studio instead:
#
# OPENAI_BASE_URL=https://generativelanguage.googleapis.com/v1beta
# OPENAI_API_KEY=(your AI Studio project key)
# INFERENCE_TEXT_MODEL=gemini-2.5-flash-lite
# INFERENCE_IMAGE_MODEL=gemini-2.5-flash-lite
# EMBEDDING_TEXT_MODEL=gemini-embedding-2
# EMBEDDING_DIMENSIONS=3072

#
# Karakeep - https://docs.karakeep.app/configuration/environment-variables
#

KARAKEEP_VERSION=release
MEILI_VERSION=v1.41.0
KARAKEEP_PORT=3333

# Local
MEILI_ADDR=http://bcm-links-search:7700
BROWSER_WEB_URL=http://bcm-links-browser:9222

# Infra - refer to 'docs/INFRA.md'
# MEILI_ADDR=http://bcm-links-search.railway.internal:7700
# BROWSER_WEB_URL=http://bcm-links-browser.railway.internal:9222
