# linkding Docker Compose settings
LD_CONTAINER_NAME=linkding
LD_IMAGE_TAG=latest-plus
LD_HOST_PORT=9090
LD_HOST_DATA_DIR=./storage

# Set these before the first start to create the initial superuser.
# They are ignored after the user already exists.
LD_SUPERUSER_NAME=aaa
LD_SUPERUSER_PASSWORD=bbb,ccc.333

# Optional linkding settings. See https://linkding.link/options/
LD_DISABLE_BACKGROUND_TASKS=False
LD_DISABLE_URL_VALIDATION=False
LD_ENABLE_AUTH_PROXY=False
LD_DISABLE_LOGIN_FORM=False
LD_CSRF_TRUSTED_ORIGINS=
