# GitHub repo linguist configuration

.github/** -linguist-detectable
bin/** -linguist-detectable
.env.* -linguist-detectable
.* -linguist-detectable
.*.* -linguist-detectable
opencode.json -linguist-detectable

docs/** linguist-documentation

compose.yml linguist-language=YAML
compose.yml linguist-language=YAML
compose.local.yml linguist-language=YAML
